---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
$splash-font:      "Rock Salt";
$fancy-font:       "Lobster Two";
$base-font-size:   16px;
$base-line-height: 1.5;

$spacing-unit:     30px;

// Colors shamelessly taken from the excellent US CIO Web Standards
// https://playbook.cio.gov/designstandards/visual-style/
$blue-primary:     #0071bc;
$blue-dark:        #205493;
$blue-darker:      #112e51;

$blue-alt:         #02bfe7;
$blue-alt-darker:  #046b99;
$blue-alt-dark:    #00a6d2;
$blue-alt-light:   #9bdaf1;
$blue-alt-lighter: #e1f3f8;

$red-color:        #e31c3d;
$red-darker:       #981b1e;
$red-dark:         #cd2026;
$red-light:        #e59393;
$red-lighter:      #f9dede;

$black:            #212121;
$grey-color:       #5b616b;
$grey-warm:        #e4e2e0;
$grey-dark:        #323a45;
$grey-light:       #aeb0b5;
$grey-lighter:     #d6d7d9;
$grey-lightest:    #f1f1f1;

$gold-color:       #fdb81e;
$green-color:      #2e8540;
$blue-focus:       #3e94cf;
$purple-color:     #4c2c92;

$focus-color:      $blue-focus;
$visited-color:    $purple-color;

$background-swatch:$grey-lightest;

// Width of the content area
$content-width:    960px;

$on-palm:          500px;
$on-tablet:        800px;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
				"mixins",
        "base",
        "layout",
        "style",
        "sections/about",
        "sections/party",
        "sections/reception",
        "sections/registry"
;
