<p>
  Ain't No Party Like a Blaida-Harris Party, cuz a Blaida-Harris Party Don't Stop!

  Nina and Charlie are so excited to have these amazing relatives and friends stand by their side on their wedding day!</p>
<div class="party-container">
  <div id="bridesmaids">
      <h3>Bridesmaids</h3>
  <ul class="party-members">
      {% for bridesmaid in site.data.bridesmaids %}
      <li class="party-card" id="{{bridesmaid.name}}">
        <div class="front">
          <img src="/assets/{{bridesmaid.photo}}"/>
        </div>
        <div class="back">
          <div class="bridesmaid-name">{{bridesmaid.name}}</div>
          <div class="bridesmaid-blurb">{{bridesmaid.blurg}}</div>
        </div>
        </li>

      {% endfor %}
  </ul>
</div>

<div id="groomsmen">
    <h3>Groomsmen</h3>
 <ul class="party-members">
   {% for groomsman in site.data.groomsmen %}
   <li class="party-card" id="{{groomsman.name}}">
     <div class="front">
       <img src="/assets/{{groomsman.photo}}"/>
     </div>
     <div class="back">
       <div class="groomsman-name">{{groomsman.name}}</div>
       <div class="groomsman-blurb">{{groomsman.blurg}}</div>
     </div>
     </li>

   {% endfor %}
 </ul>
</div>
</div>
