<div class="wrapper">
  <div class="section-body">
    <a id="macys" href="http://www1.macys.com/registry/wedding/guest/?registryId=2273651" class="svg-holder" target="_blank">
      {% include_relative assets/Macys.svg %}
    </a>
    <a id="bedbathbeyond" href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542747288&pwsurl=" class="svg-holder" target="_blank">
      {% include_relative assets/bedbathbeyond.svg %}
    </a>
    <a id="cratebarrel" href="http://www.crateandbarrel.com/gift-registry/nina-blaida/r5419417" class="svg-holder" target="_blank">
      {% include_relative assets/CrateandBarrelLogo.svg %}
    </a>
  </div>
</div>
