<p>
  Charlie was the first born to his parents Charlie & Libby and takes pride in the fact that he is the oldest of 5 siblings. He is followed by George, Madeleine, Eddie, & Will, who are all in the wedding party! There was never a dull moment for his family growing up. I love hearing countless stories ranging any topic you can think of. Through this bustling family, Charlie learned many valuable lessons about the importance of family and having a sense of community.
</p>
<p>
  He takes very much pride in the fact that he attended Chaminade, where he met many friends that he is still close to. During his time there, he became an All American swimmer and still has a record with 3 of his teammates for the 200 Medly Relay for Chaminade. He also grew was very involved in newspaper and theater.  By the time graduation came, he had planned to enter the seminary to actively discern whether or not he was called to be a Catholic priest.
</p>
<p>
  When many others were preparing to go off to college Charlie began his time of formation at Kenrick-Glennon Seminary in Shrewsbury, MO. During this time, he learned many new things and spent his time serving the parish communitiies where he was assigned. After 6 1/2 years in prayerful study, Charlie felt God calling him elsewhere and he decided to leave the seminary. Although he didn't have a clear idea about where he would end up, he took advantage of his knowledge of website development and eventually began working at World Wide Technology, where he has been a Web Developer since March 2014.
</p>
<p>
  As was mentioned earlier, he enjoys swimming, developing websites, making people laugh, and building bonfires in the back yard.  Although Charlie claims to not like to run, he has completed 2 marathons in 2 years one in St. Louis in April 2014 and one in Chicago in October 2015. Everyday Charlie strives to live out the virtue of perseverence, which has become a personal motto, which helps him to accomplish many great things!"
</p>
