<p>
  Charlie & Nina were friends for several months before they started dating, and even by that point they had become best friends who loved hanging out as often as we could and sharing the beautiful city life of St. Louis together.
</p>
<p>
  Nina loves remembering how Charlie asked her out by asking, “What if I asked you out on a date?” She happily replied, “I would say, ‘Yes!’” Then, with a sweet smile on his face, he added, “Because I like you!” Nina could feel her cheeks getting red as she smiled and said, “I like you too!”
</p>
<p>
  While Nina & Charlie were dating, they fell in love with each other early on and spoke a lot about marriage.
</p>
