<p>
  Although Nina knew Charlie wanted to ask her to marry him, it was simply a matter of when he would ask. It didn’t take too long but at times it seemed like forever to Nina! :) She told him she wanted to be surprised, but at times she revealed a little impatience, so he made her believe it would not be for many more months, for “budgetary reasons,” which he made up but it helped Nina be present to their dating status. That was all the distraction Charlie needed as he picked up the ring on the very day of their 1 year anniversary (Nina totally didn’t know that!).
</p>
<p>
  On Saturday, May 9, 2015, Nina & Charlie spent the entire day together. They started with a 5­mile Heart Walk at Busch Stadium with his family. Afterwards they took the metro train to a wonderful breakfast cafe downtown, then walked through light rain. All the while Charlie had a rain jacket on and for some reason he kept complaining about the “granola bars” in his pocket that he hadn’t eaten yet. Turned out he mentioned the granola bars so Nina wouldn’t notice the feel of the ring box whenever she would brush up against his jacket!
</p>
<p>
  That afternoon, as if the day wasn’t busy enough, they went to the St. Louis Art museum which is a beautiful building at the top of the biggest hill in Forest Park. They were there for a long time, and when it closed at 5pm Charlie asked if she would like to take a walk to a small stone patio on the top of the big hill. While looking out over the hill, Charlie began saying really sweet things about how great the past year had been and how happy he was to have Nina in his life.
</p>
<p>
  “Do you want to make this forever?” Charlie asked, while hugging me so close that I could feel his heart pounding.
</p>
<p>
  “Of course!” Nina shouted, still a little unsure about what would come next.
</p>
<p>
  Then Charlie got down on one knee, looked up at Nina, and asked:
</p>
<p>
  “Nina Josephine Blaida, will you marry me?” Once she caught her breath, without hesitation and with so much excitement Nina said:
</p>
<p>
  “Yes! Absolutely! Of course I will!”
</p>