<p>
  This engagement ring is filled with a lot of meaning for the both of us. Charlie designed the engagement ring based off of a ring Nina received from her parents when she was 16, which had a center blue stone, with 2 smaller diamonds on the side. I remember him studying it constantly and just thought he was being goofy while pulling my finger close to his face.
</p>
<p>
  Now, the solitaire diamond is a gift from Charlie's mom Libby. It was her own solitaire from her engagment ring which her husband and Charlie's dad proposed to her with. Libby chose to give her diamond to her first child that was engaged, ever since her husband passed away in May, 2012. To add to this: Libby's own engagement ring, apart from the diamond, was a gift from her own mother-in-law, Charlie's grandma Mary Jane, who also lost her husband shortly before her son proposed to his future wife. So both Libby and Nina's engagement rings were both gifts from their mothers-in-law shortly after the sudden loss of their husbands.
</p>
<p>
  The day Charlie went to go ring shopping with his mom Libby, they met at a store called Betz Jewellers, run by family friends of the Harris' whom Charlie had grown up with. As he walked in, Libby and Craig Betz explained how this was the same Jeweller where his dad had bought his engagement ring to give to Libby. That was when Libby gave Charlie the diamond, as well as his father's wedding band, which Nina will give him at their wedding.
</p>
