<footer class="site-footer">

  <div class="wrapper">



  </div>
  <script type="text/javascript" src="{{ "/assets/js/jquery-2.1.4.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/skrollr.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/waypoints/jquery.waypoints.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/owl.carousel.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/scripts.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/aboutus.js" | prepend: site.baseurl }}"></script>
</footer>
