<footer class="site-footer">

  <div class="wrapper">
    <p>Made with <i class="fa fa-heart"></i> by <a target="_blank" href="https://github.com/njosieb">the Bride</a> & <a target="_blank" href="http://cvharris.com">the Groom</a></p>
  </div>

  <script type="text/javascript" src="{{ "/assets/js/jquery-2.1.4.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/waypoints/jquery.waypoints.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.0/jquery.fluidbox.min.js"></script>
  <script type="text/javascript" src="{{ "/assets/js/scripts.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/aboutus.js" | prepend: site.baseurl }}"></script>
</footer>
