body {
  position: relative;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
  overflow: auto;
  z-index: 1;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    display: block;
    background: rgba($black, .85);
    z-index: 9;
    content: '';
    opacity: 0;
    transform: translate3d(300px, 0, 0);
    transition-duration: 0.5s;
    transition-property: opacity, width, transform;
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
   -moz-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
     -o-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
        transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
  }

  @include media-query($on-palm) {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

/**
 * Site header
 */
header {
  height: 57px;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  border-bottom: 4px solid $red-color;
  background-color: $blue-dark;
  z-index: 11;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  transition: transform .3s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
   -moz-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
     -o-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
        transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  box-shadow: 0 3px 15px 0px #3e3e3e;

  .wrapper {
    @include flex-display();
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-direction(row-reverse);
  }
}

#menu-reveal {
  -webkit-appearance: none;
  border: none;
  color: #fff;
  background: none;
  font-size: 24px;
  text-align: left;
  outline: none !important;
  cursor: pointer;
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  @include flex(1, 1, auto);

  &,
  &:visited {
    color: #fff;
  }
}

.site-nav {
  @include flex-display();
  @include flex-direction(column);
  padding-top: 7px;

  .page-link {
    color: $black;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}

/**
 * Content Layout
 */

main#page-body {
  position: relative;
  height: 100%;
  perspective: 1000px;
  z-index: 8;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
   -moz-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
     -o-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
        transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
  background-color: $background-swatch;
}

aside {
  position: fixed;
  right: 0;
  top: 55px;
  width: 300px;
  height: calc(100vh - 55px);
  background-color: $blue-primary;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 1;
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
  transition: all 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
   -moz-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
     -o-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
        transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

section {
  position: relative;
  padding-bottom: 5em;
  overflow: hidden;

  &#about-us, &#ceremony, &#hotel, &#photos {
    background-color: $blue-primary;
    color: white;

    a {
      color: $blue-alt;
    }

    .section-header {
      color: white;
    }
  }

  > .wrapper {
    padding-bottom: 5em;
  }

	.section-header {
		text-align: center;
		font-style: italic;
		font-size: 48pt;
		font-family: $fancy-font;
    color: $blue-primary;
    margin: 2rem 0 3rem;
	}

  @include media-query($on-palm) {
    padding-bottom: 1rem;

    .section-header {
      font-size: 2.8rem;
      margin: 1rem 0 1.5rem;
    }

    > .wrapper {
      padding-bottom: 1rem;
    }
  }
}

.section-body {
  position: relative;
}

/**
 * Header and Sidebar Animations
 */

body {
  &.no-header {
    .site-header {
      transform: translate3d(0, -100%, 0);
    }
  }

  &.sidebar {
    overflow: hidden;

    .site-header {
      transform: translate3d(0, 0, 0);
    }
    aside {
      visibility: visible;
      -webkit-transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      -webkit-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
       -moz-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
         -o-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
            transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    #page-body {
      -webkit-transform: translate3d(-300px, 0, 0);
      transform: translate3d(-300px, 0, 0);
    }

    &:after {
      width: calc(100% - 300px);
      opacity: 1;
      transform: translate3d(-300px, 0, 0);
      transition-duration: 0.5s;
      transition-property: opacity, width, transform;
      -webkit-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
   -moz-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
     -o-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
        transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
    }
  }
}
