#top-section {
  min-height: 100vh;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  object {
    position: absolute;
    top: 0;
    /* fill vertically */
    width: auto;
    height: 100vh;
    /* center horizontally */
    left: -1000px;
    right: -1000px;
    margin-left: auto;
    margin-right: auto;   /* for testing */
    z-index: 0;
  }

  @include media-query($on-palm) {
    min-height: 500px;
    background-position: bottom right -100px;
  }
}

.left-box {
  text-align: center;
  font-family: $splash-font;
  position: absolute;
  background-color: rgba($blue-primary, 0.9);
  color: white;
  padding: 40px;
  top: 50%;
  left: 12%;

  h1 {
    font-size: 4.5em;
  }

  h6 {
    font-size: 2em;
  }

  @include media-query($on-palm) {
    left: 5%;
    padding: 1rem;
    width: 90%;
    top: 52%;

    h1 {
      font-size: 2.8rem;
    }
  }
}

.postcard {
  @include flex-display();
  background: $grey-lightest;
  height: 100%;
  width: 100%;
  position: relative;
  color: $black;

  @include media-query($on-palm) {
    @include flex-wrap(wrap);
  }
}

.image-half {
  @include flex(0, 0, 50%);
  @include flex-display();
  @include flex-direction(column);
  position: relative;

  @include media-query($on-palm) {
    @include flex(0, 0, 100%);
    min-height: 200px;
    width: 100%;
  }
}

.postcard-image {
  @include flex-grow(1);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#ceremony {
  background-image: url(/assets/cathedral.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
  background-position: center;

  .postcard {
    @include flex-direction(row-reverse);
  }

  .postcard-image {
    background-position: -50px 0px;

    @include media-query($on-palm) {
      background-position: center
    }
  }
}

.info-half {
  @include flex(0, 0, 50%);

  @include media-query($on-palm) {
    @include flex(0, 0, 100%);
  }
}

.info-wrapper {
  padding: 1rem;
  text-align: center;
}

.info-header {
  font-family: $fancy-font;
  font-size: 3.5rem;
  line-height: 3.5rem;
  color: $blue-primary;

  @include media-query($on-palm) {
    font-size: 2.8rem;
  }
}

.info-subheader {
  font-size: 2rem;
  font-weight: 800;
  color: $red-dark;
}

.info {
  text-align: left;
}

a#directions {
  display: block;
  background: $blue-alt;
  color: white !important;
  border-radius: 6px;
  font-size: 1.7rem;
  padding: .25rem 0;
  margin: 0.5rem;
}

#map {
  padding: 0;

  .section-header {
    position: absolute;
    width: 100%;
    z-index: 2;
    color: white;
  }

  .section-body{

    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      width: 50%;
      top: 0;
    }

    &:before {
      left: 0;
      background-image: -webkit-radial-gradient(13% 36%, circle, transparent 17%, rgba(0,0,0,0.5) 18%, rgba(0, 0, 0, 0.6) 0);
      background-image: -moz-radial-gradient(23% 36%, circle, transparent 17%, rgba(0,0,0,0.5) 18%, rgba(0, 0, 0, 0.6) 0);
      background-image: radial-gradient(23% 36%, circle, transparent 17%, rgba(0,0,0,0.5) 18%, rgba(0, 0, 0, 0.6) 0);
    }

    &:after {
      right: 0;
      background-image: -webkit-radial-gradient(89% 78%, circle, transparent 17%, rgba(0,0,0,0.5) 18%, rgba(0, 0, 0, 0.6) 0);
      background-image: -moz-radial-gradient(89% 78%, circle, transparent 17%, rgba(0,0,0,0.5) 18%, rgba(0, 0, 0, 0.6) 0);
      background-image: radial-gradient(89% 78%, circle, transparent 17%, rgba(0,0,0,0.5) 18%, rgba(0, 0, 0, 0.6) 0);
    }
  }

  @include media-query($on-palm) {
    display: none;
  }
}

@include media-query($on-palm) {
  a.section-link[href="#map"] {
    display: none;
  }
}

#direction-line {
  position: absolute;
  bottom: 26%;
  left: 0;
  right: 0;
  height: 15px;
  width: 90%;
  margin: 0 5%;
  background-image: radial-gradient($blue-alt, $blue-alt 35%, transparent 35%, transparent);
  background-size: 15px 15px;
  transform: rotate(11deg);
  z-index: 9;

  &:before {
    content: "\f0a5  Lindell Blvd \f1ae  \f1fd";
    font-family: FontAwesome, $splash-font;
    display: block;
    position: relative;
    font-size: 2rem;
    color: white;
    margin: 0 auto;
    text-align: center;
    top: -3rem;
  }
}

#hotel {
  background-image: url(/assets/chase-room.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
}

#photos {
  a {
    color: white;
  }
}

span.photo-cred {
  display: block;
  text-align: center;
  margin: 1rem;
  color: white;
  font-weight: 800;
}

#white-klump-logo {
  margin: 0 auto;
  display: block;
  text-align: center;
}

#photo-gallery {
  @include flex-display();
  @include flex-wrap(wrap);
  @include align-items(center);
  @include justify-content(space-between);
}

.photo {
  @include flex(0, 0, 32%);
  @include flex-display();
  @include justify-content(center);
  padding: 0.25rem;
  margin: 1rem 0;
  display: block;
  background: $blue-alt;
  border: 0.25rem solid $grey-warm;

  img {
    max-height: 250px;
    width: 100%; // conform photo size
    object-fit: cover; // conform photo size
  }

  @include media-query($on-palm) {
    padding: 4px;
    border-width: 2px;
    @include flex(0, 0, 48%);

    img {
      max-height: 155px;
    }
  }
}

.fluidbox__overlay {
  .photo & {
    background-color: rgba($blue-darker, 0.85);
    width: 100vw;
    height: 100vh;
  }
}

.fluidbox--opened {
  .fluidbox__overlay {
    z-index: 1 !important;
  }

  .fluidbox__ghost {
    z-index: 9 !important;
  }

}

.fluidbox__wrap {
  @include flex-display(); // conform photo size
  @include justify-content(center); // conform photo size
}

.section-link {
  display: block;
  position: relative;
  color: #fff;
  padding: 1em;
  font-size: 1.25em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);

  &:before, &:after {
    content: '';
    z-index: -1;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }

  &:before {
    border: 2px solid #37474f;
    opacity: 0;
    background: $blue-dark;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
    border-width: 1px;
    border-color: $blue-dark;
  }

  &:after {
    background: transparent;
  }

  &:hover {
    color: white;

    &:before {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }

    &:after {
      opacity: 0;
      -webkit-transform: scale3d(0.8, 0.8, 1);
      transform: scale3d(0.8, 0.8, 1);
    }
  }
}

footer.site-footer {
  background-color: $grey-dark;

  p {
    margin: 0;
    padding: 3rem 0;
    color: white;

    a {
      font-weight: 800;
    }

    i {
      color: $red-color;
    }

    @include media-query($on-palm) {
      font-size: 1.2em;
      text-align: center;
    }
  }
}