#about-us {
  .section-header {
    // color: #fff;
  }
}

#selection-container {
  @include flex-display();
  @include justify-content(space-around);
  @include flex-wrap(wrap);
}

.selection-holder {
  @include flex(0, 0, 31%);
  @include flex-display();
  @include justify-content(center);
}

.selection-box {
  @include flex-display();
  @include align-items(center);
  @include justify-content(center);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  background-color: $blue-darker;
  margin-top: 2em;
  padding: 1em;
  border: 5px solid $blue-primary;
  cursor: pointer;
  height: 200px;
  width: 200px;
  transition-property: background-color, border-color;
  transition-duration: .3s;

  .selection-text {
    font-family: $splash-font;
    font-size: 1.8em;
    color: white;
    text-align: center;
    margin: 0;
    transition: color .3s;
  }

  &:hover {
    background-color: transparent;
    border-color: $red-color;

    .selection-text {
      color: transparent;
    }
  }
}

#select-about-her {
  @include flex(0, 0, 46%);
  @include justify-content(flex-end);
}

#select-about-him {
  @include flex(0, 0, 46%);
  @include justify-content(flex-start);
}

#story-viewer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden; // enable scroll within stories
}

#story-controls {
  @include flex-display();
  @include justify-content(space-between);

  .control-button {
    padding: .75em;
    cursor: pointer;
    font-size: 1.2em;
  }

  .button-text {
    color: white;
    font-family: $base-font-family;
  }
}

#story-container {
  @include stick-overflow();
}

.story {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}

.story-body {
  height: calc(100% - 93px - 57px);
  overflow-y: hidden;
  overflow-x: scroll;
  position: relative;
  padding-top: 1em;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 6em;
  -moz-column-gap: 6em;
  column-gap: 6em;

  blockquote {
    margin-top: 1.5em;
    margin-bottom: 0;
  }

  blockquote p {
    text-indent: -1.5em;
    margin-left: 1.5em;

    i {
      font-style: normal;
      font-weight: 900;
    }
  }

  p {
    color: white;
    font-size: 1.4em;
    line-height: 1.5em;
    margin-bottom: 0;
    font-weight: 200;
  }

  > p {
    margin-top: 1.5em;

    &:first-child {
      margin-top: 0;
    }

    &:first-letter {
      float: left;
      font-size: 3.0em;
      line-height: 0.7em;
      padding-top: 5px;
      padding-right: 12px;
      padding-left: 8px;
      font-family: $fancy-font;
      font-style: italic;
    }
  }
}

.story-header {
  text-align: center;
  font-size: 2.5em;
  font-family: $splash-font;
  color: white;
}

.story-subheader {
  text-align: center;
  color: white;
  font-style: italic;
  font-family: $base-font-family;
  font-size: 1.4em;
}
