#about-us {
  .section-header {
    // color: #fff;
  }
}

#selection-container {
  @include flex-display();
  @include justify-content(space-around);
  @include flex-wrap(wrap);
}

.selection-holder {
  @include flex(0, 0, 25%);
  @include flex-display();
  @include justify-content(center);
}

.selection-box {
  @include flex-display();
  @include align-items(center);
  @include justify-content(center);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  background-color: $blue-darker;
  margin-top: 2em;
  padding: 1em;
  border: 5px solid $blue-primary;
  cursor: pointer;
  height: 200px;
  width: 200px;
  transition-property: background-color, border-color;
  transition-duration: .3s;

  .selection-text {
    font-family: $splash-font;
    font-size: 1.8em;
    color: white;
    text-align: center;
    margin: 0;
    transition: color .3s;
  }

  &:hover {
    background-color: transparent;
    border-color: $red-color;

    .selection-text {
      color: transparent;
    }
  }
}

#select-about-her {
  @include flex(0, 0, 49%);
  @include justify-content(flex-end);
}

#select-about-him {
  @include flex(0, 0, 49%);
  @include justify-content(flex-start);
}

#story-viewer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: visible;
}

#story-controls {
  @include flex-display();
  @include justify-content(space-between);

  .control-button {
    padding: .75em;
    cursor: pointer;
    font-size: 1.2em;
  }

  .button-text {
    color: white;
    font-family: $base-font-family;
  }
}

.select-back {
  padding-left: 0;
}

.select-next {
  padding-right: 0;
}

#story-container {
  @include stick-overflow();
  overflow: visible;
}

.story {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible;
  display: none;
}

.story-body {
  height: calc(100% - 93px - 57px);
  overflow-y: hidden;
  overflow-x: scroll;
  position: relative;
  padding-top: 1em;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 6em;
  -moz-column-gap: 6em;
  column-gap: 6em;

  blockquote {
    margin-top: 1.5em;
    margin-bottom: 0;
  }

  blockquote p {
    text-indent: -1.5em;
    margin-left: 1.5em;

    i {
      font-style: normal;
      font-weight: 900;
    }
  }

  p {
    color: white;
    font-size: 1.4em;
    line-height: 1.5em;
    margin-bottom: 0;
    font-weight: 200;
    text-align: justify;
  }

  > p {
    margin-top: 1.5em;
    text-indent: 2.5em;

    &:first-child {
      margin-top: 0;
      text-indent: 0;

      &:first-letter {
        float: left;
        font-size: 3.0em;
        line-height: 0.7em;
        padding-top: 5px;
        padding-right: 12px;
        padding-left: 8px;
        font-family: $fancy-font;
        font-style: italic;
      }
    }
  }
}

.story-header {
  text-align: center;
  font-size: 2.5em;
  font-family: $splash-font;
  color: white;
}

.story-subheader {
  text-align: center;
  color: white;
  font-style: italic;
  font-family: $base-font-family;
  font-size: 1.4em;
}

.story-scroll-buttons {
  @include flex-display();
  @include justify-content(space-between);
  @include align-items(center);
  position: absolute;
  height: 100%;
  width: calc(100% + 12em);
  top: 0;
  left: 0;
  pointer-events: none;
  margin-left: -6em;
  margin-right: -6em;
}

.scroll-control {
  @include flex-display(flex);
  @include align-items(center);
  height: 5em;
  width: 5em;
  border-radius: 100%;
  background: $blue-alt;
  position: relative;
  pointer-events: all;
  justify-content: center;
  cursor: pointer;
  transition-duration: .6s;
  transition-property: background;

  &:before {
    font-family: 'FontAwesome';
    display: inline-block;
    line-height: 5rem;
    font-size: 5rem;
    position: absolute;
    color: $blue-alt-darker;
    transition-duration: .6s;
    transition-property: color;
  }

  &.scroll-right:before {
    content: '\f0da';
    left: 1.9rem;
  }

  &.scroll-left:before {
    content: '\f0d9';
    right: 1.9rem;
  }

  &:hover {
    background: $blue-alt-darker;

    &:before {
      color: $blue-alt;
    }
  }
}
