#groomsmen {
  margin-left: 10px;
  margin-right: -10px;

  @for $i from 0 to 7 {
    .party-card:nth-child(#{$i}) {
      z-index: 9 - $i;
    }
  }
}

#bridesmaids {
  margin-right: 10px;
  margin-left: -10px;

  h3 {
    text-align: right;
  }

  @for $i from 0 to 7 {
    .party-card:nth-child(#{$i}) {
      z-index: 9 - $i;
    }
  }
}

h3 {
  font-size: 40px;
  margin-left: auto;
  font-weight: 100;
}

.party-container{
	@include flex-display();
	@include justify-content(space-around);

  .party-members {
    @include flex-display();
    @include flex-wrap(wrap);
    position: relative;
    z-index: 1;
  }
}

.party-card {
  @include flex-basis(50%);
  @include flex-display();
  @include justify-content(center);
  margin-top: 1.5em;
  position: relative;
  list-style-type: none;
}

.card-wrapper {
  position: relative;
  overflow: hidden;

  &:hover {
    overflow: visible;

    .party-member-thing {
      overflow: visible;
      padding: 1em;
      max-height: 400px;
      border-bottom: 1px solid;
    }
  }
  .picture {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.picture {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  overflow: hidden;
}

.party-member-name {
  text-align: center;
  font-family: $splash-font;
  font-size: 2em;
  color: $blue-primary;
}

#Bill, #Jenny, #Andi {
  flex-basis: 100%;
}

#Bill {
  @include justify-content(flex-start);

  .card-wrapper {
    left: 5px;
  }
}

#Jenny, #Andi {
  @include justify-content(flex-end);

  .card-wrapper {
    right: 5px;
  }
}

.party-member-info {
  text-align: center;
}

.party-member-hashtag {
  font-weight: 800;
  font-style: italic;
  font-size: 1.2em;
}

.party-member-relation {
  font-weight: 600;
  font-size: 1em;
}

.party-member-thing {
  position: absolute;
  width: 100%;
  max-width: 200px;
  background-color: $background-swatch;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition-duration: .3s;
  transition-property: max-height, padding;
}
