#groomsmen {
  margin-left: 10px;
  margin-right: -10px;

  @for $i from 1 to 8 {
    .party-card:nth-child(#{$i}) {
      z-index: 10 - $i;
    }
  }

  @include media-query($on-palm) {
    margin-left: 5px;
    margin-right: 0;
  }
}

#bridesmaids {
  margin-right: 10px;
  margin-left: -10px;

  h3 {
    text-align: right;
  }

  @for $i from 1 to 8 {
    .party-card:nth-child(#{$i}) {
      z-index: 10 - $i;
    }
  }

  @include media-query($on-palm) {
    margin-left: 0;
    margin-right: 5px;
  }
}

h3 {
  font-size: 40px;
  margin-left: auto;
  font-weight: 100;

  @include media-query($on-palm) {
    font-size: 2rem;
  }
}

.party-container{
	@include flex-display();
	@include justify-content(space-around);

  .party-members {
    @include flex-display();
    @include flex-wrap(wrap);
    position: relative;
    z-index: 1;
  }

  @include media-query($on-palm) {
    @include justify-content(space-between);
  }
}

.party-card {
  @include flex-basis(50%);
  @include flex-display();
  @include justify-content(center);
  margin-top: 1.5em;
  position: relative;
  list-style-type: none;

  @include media-query($on-palm) {
    @include flex-basis(100%);
  }
}

.card-wrapper {
  position: relative;
  overflow: hidden;

  .picture {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.picture {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  overflow: hidden;

  @include media-query($on-palm) {
    height: 150px;
    width: 150px;
    margin: 0 auto;
  }
}

.party-member-name {
  text-align: center;
  font-family: $splash-font;
  font-size: 2em;
  color: $blue-primary;

  @include media-query($on-palm) {
    font-size: 1.5rem;
  }
}

#Bill, #Jenny, #Andi {
  flex-basis: 100%;
}

#Bill {
  @include justify-content(flex-start);

  .card-wrapper {
    left: 5px;
  }
}

#Jenny, #Andi {
  @include justify-content(flex-end);

  .card-wrapper {
    right: 5px;
  }

  @include media-query($on-palm) {
    @include justify-content(center);
  }
}

.party-member-info {
  text-align: center;
}

.party-member-hashtag {
  font-weight: 800;
  font-style: italic;
  font-size: 1.2em;

  @include media-query($on-palm) {
    font-size: .9rem;
  }
}

.party-member-relation {
  font-weight: 600;
  font-size: 1em;

  @include media-query($on-palm) {
    font-size: .8rem;
  }
}

.party-member-thing {
  position: relative;
  width: 100%;
  max-width: 200px;
  background-color: $background-swatch;
  height: 100px;
  overflow: hidden;
  padding: 0;
  transition-duration: .3s;
  transition-property: max-height, padding;
}

#ushers {
  text-align: center;

  .party-members {
    @include flex-display();
  }
}
