#reception {
  background-color: $blue-darker;

  .section-header {
    color: white;
  }
}

.reception-info {
  margin: 0 10%;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2rem;
  text-align: center;
}

h2.reception-header {
  font-family: "Rock Salt";
  margin: 0.75rem 0;
  color: $blue-alt;

  &:nth-of-type(even) {
    color: $red-color;
  }
}

h1.reception-title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4rem;
  color: $blue-primary;
}

.reception-description i {
  color: $blue-primary;
}

#fireworks {
  @include flex-display();
  @include flex-wrap(wrap);
  @include justify-content(space-around);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.firework-container {
  @include flex-display();
  @include justify-content(center);
  @include align-items(center);
  position: relative;
  height: 375px;
  width: 375px;
}

.firework-text {
  text-align: center;
  position: relative;
}

.feature-text {
  font-family: $splash-font;
  font-size: 3rem;
  color: $red-color;

  &:hover {
    color: $red-color;
  }
}

.firework {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.firework-container .firework {
  -webkit-animation-name: firework;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
  transform-origin: center;
  opacity: 0;
}

#red {
  .firework {
    -webkit-animation-delay: 0s;

    path {
      fill: $red-color;
    }
  }
}

#blue {
  bottom: 10%;
  left: 10%;

  .firework {
    -webkit-animation-delay: 3s;
    path {
      fill: $blue-alt;
    }
  }
}

#white {
  bottom: 15%;
  right: 10%;

  .firework {
    -webkit-animation-delay: 6s;
    path {
      fill: white;
    }
  }
}

#green {
  right: 15%;
  top: 10%;

  .firework {
    -webkit-animation-delay: 9s;
    path {
      fill: $green-color;
    }
  }
}

#yellow {
  .firework {
    -webkit-animation-delay: 12s;

    path {
      fill: $gold-color;
    }
  }
}

// TODO: Add more of a spark with stroke: white
// TODO: Optimize timing funciton with cubic-bezier
// TODO: browser compatibility
@-webkit-keyframes firework {
  0% {
    -webkit-transform: scale(0);
    opacity: 1;
  }
  2% {
    opacity: 1;
    -webkit-transform: scale(1.5);
  }
  20% {
    opacity: 0;
    -webkit-transform: scale(2.5) translate(25%, 15%);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5) translate(25%, 15%);
  }
}