#reception {
  background-color: $blue-darker;

  .section-header {
    color: white;
  }
}

#fireworks {
  @include flex-display();
  @include flex-wrap(wrap);
  @include justify-content(space-around);
  position: relative;
}

.firework-container {
  @include flex-display();
  @include justify-content(center);
  @include align-items(center);
  position: relative;
  height: 375px;
  width: 375px;
}

.firework-text {
  text-align: center;
  position: relative;
}

.feature-text {
  font-family: $splash-font;
  font-size: 3rem;
  color: $red-color;

  &:hover {
    color: $red-color;
  }
}

.firework {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  path {
    fill: transparent;
  }
}

.firework-container:hover .firework {
  -webkit-animation-name: firework;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
  transform-origin: center;

  path {
    fill: $blue-alt;
  }
}

// TODO: Make fireworks a continual show in background of reception area
// TODO: Add more of a spark with stroke: white
// TODO: Optimize timing funciton with cubic-bezier
// TODO: browser compatibility
@-webkit-keyframes firework {
  0% {
    -webkit-transform: scale(0);
    opacity: 1;
  }
  10% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2) translate(50%, 50%);
  }
}